header{background: #678DB2;

}
body {
		background:#91BADA; 
		background-clip: 
	}
a{
	color:white;
}
body li {
	float: left;
	border-radius: 5px;
	padding :7px;
	margin-left: 5px;
	white-space: 3px;
	display:inline-block;
	background-size: 13px,500px;
	background-color: #555;

}
.linesev {
	color:blue;
	background-color: yellow;
	 
	text-align: center;
}
h1{
	color:#F5F5F5;
	padding-top: 20px;
	padding-left:40px;
	padding-bottom: 0px;
	font-size: 30px;
	
	border-left: 50px;
	white-space:20px;
	
	font-family: arial;
	}
	h3{
		text-align: center;
	}
	